.health {
    background-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    -unity-text-outline-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
